[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django = "*"
pandas = "*"
autopep8 = "*"
docstr-coverage = "*"
django-coverage-plugin = "*"
flake8-quotes = "*"
flake8 = "*"
pycodestyle = "*"
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
werkzeug = "*"
unify = "*"
uritemplate = "*"
pyyaml = "*"
awscli = "*"
requests-mock = "*"
django-debug-toolbar = "*"
django-mail-panel = "*"
django-queryinspect = "*"
black = "*"
pre-commit = "*"
pytest-mock = "*"
pytest-factoryboy = "*"
factory-boy = "*"
safety = "*"
bandit = "*"
bpython = "*"
freezegun = "*"
responses = "*"

[packages]
django-configurations = "*"

[requires]
python_version = "3.10"
