[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
docstr-coverage = "*"
django-coverage-plugin = "*"
flake8-quotes = "*"
flake8 = "*"
pycodestyle = "*"
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
werkzeug = "*"
unify = "*"
uritemplate = "*"
pyyaml = "*"
awscli = "*"
requests-mock = "*"
django-debug-toolbar = "*"
django-mail-panel = "*"
django-queryinspect = "*"
black = "*"
pre-commit = "*"
pytest-mock = "*"
pytest-factoryboy = "*"
factory-boy = "*"
safety = "*"
bandit = "*"
bpython = "*"
freezegun = "*"
responses = "*"

[packages]
django = "*"
pandas = "*"
django-configurations = "*"
celery = "*"
ddtrace = "*"
django-crispy-forms = "*"
django-environ = "*"
django-extensions = "*"
django-fsm = "*"
django-security = "*"
django-easy-audit = "*"
django-storages = "*"
django-tinymce = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
drf-yasg = "*"
redis = "*"
django-localflavor = "*"
pyyaml = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-phone-verify = "*"
django-cors-headers = "*"
django-health-check = "*"
boto3 = "*"
botocore = "*"
httplib2 = "*"
pytest-html = "*"
sqlparse = "==0.4.2"
cairosvg = "==2.5.2"
pillow = "==9.0.1"

[requires]
python_version = "3.10"
